kicad/Cantor_he-backups
kicad/Cantor_he.kicad_prl
kicad/fp-info-cache
kicad/~Cantor_he.kicad_sch.lck
kicad/~Cantor_he.kicad_pcb.lck
kicad/~Cantor_he.kicad_pro.lck
kicad/fp-755C.tmp
kicad/\#auto_saved_files\#
kicad/_autosave-Cantor_he.kicad_sch
